/*#tituloPrincipal{
    color: dodgerblue;
    font-family: sans-serif;
}

.parrafoSecundario{
    color: darkblue;
    font-size: 20px;
}

p{
    background-color: antiquewhite; 
}

:hover{
    transition: 1s;
    background-color: black;
    color:white;
    border-radius: 25px;
    
}

p:nth-child(even){
    
    background-color: red;
}

p:nth-child(even){
    
    background-color: red;
}

p:nth-child(even){
    
    background-color: greenyellow;
}*/

.contenedor {
    top: 12%;
    left: 0;
    height: 78%;
    background-color: bisque;
    margin: 0px;
    padding: 10px;
    width: 100%;
    position: fixed;
}
